.page {
   overflow-x: hidden;
   max-width: 2000px;
   margin: 0 auto;
}
.contain {
   contain: layout paint;
}


/* Text */
.ta-c {
   text-align: center;  
}
.t-up {
   text-transform: uppercase;
}
.t-lw {
   text-transform: none;
}
.br {
   border-radius: 20px;
}
.wp-100 {
   width: 100%;
}
.h-a {
   height: auto;
}
.m-a {
   margin: 0 auto;
}

/* Dispaly */
.d-f {
   display: flex;
}
.d-g {
   display: grid;
}
.d-b {
   display: block;
}
.d-ib {
   display: inline-block;
}
.d-n {
   display: none;
}

/* Position */
.p-a {
   position: absolute;
}
.p-r {
   position: relative;
}
.p-s {
   position: sticky;
}
.p-f {
   position: fixed;
}

/* Grid properties */
.gap {
   gap: 15px;
}

/* Flex properties */
.fd-c {
   flex-direction: column;
}
.jc-c {
   justify-content: center;
}
.jc-sb {
   justify-content: space-between;
}
.ai-c {
   align-items: center;
}
.ai-fs {
   align-items: flex-start;
}

/* Background color */
.bg-b {
   background-color: var(--color_base);
}
.bg-p {
   background-color: var(--color_primary);
}
.bg-s {
   background-color: var(--color_secondary);
}
